<section class="mainAbout my-4">
    <div class="container">
        <h2 class="md my-2">Introduce</h2>
        <p class="lead my-1">
            CSIRO is one of the popular research organizations in Australia.
            The organization would like to absorb competent candidates for research work using Machine
            Learning and Data Science. The research is related to the causality rate caused by the vaccination of
            COVID-19 in Australia. HR is accepting applications and sorting the candidates based on GPA that
            candidate secured in his/her post-graduate course.
            The competent candidates must have qualifications in any one of the following qualifications
            such as Master of Data Science, Master of AI, Master of Information Technology.

            The GPA score should be 3 or Higher.
            The company would like to select the top 10 candidates for the interview.
        </p>
    </div>
</section>