<section class="mainAbout my-5">
    <div class="container">
        <div class="showcase-form card">
            <h2>
                Your application has been submitted successfully. <br />
                Thank you for your application. <br />
                We will get back to you as soon as possible.<br />
            </h2>

            

            
        </div>
    </div>
</section>